.updated {
/*    margin-left: 50px;
    font-size: 1.2rem;
    float: right;*/
    opacity: 0;
}

.summary {
    opacity: 0;
}

.temp-summary > .temp,
.humidity-summary > .humidity {
    font-size: 6rem;
}


/* Charts */
#realtimeChart {
    padding: 0 10px;
}
